body {
    background-image: url(https://unsplash.com/photos/w7ZyuGYNpRQ/download);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: 2px;
}

.div-border {
    border: black;
    background-color: rgb(62, 4, 121);
    opacity: 90%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.text-color {
    color: white;
}