html {
    background: url(https://unsplash.com/photos/w7ZyuGYNpRQ/download) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-family: sans-serif Arial, Helvetica, sans-serif;
}